<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ぺっふり〜 投稿ページ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="フリーパーパーの置き場所を見つけて共有するサイトです。" />
	<meta name="keywords" content="ぺっふり〜、ぺっふりー、フリーペーパー、場所、置き場所、フリーペーパーの場所" />
	<meta name="author" content="Made by Celica, template from FreeHTML5.co" />

  	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- CSRFトークン対策
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" th:src="@{/favicon.ico}">

	<link th:href="@{https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" th:href="@{css/animate.css}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" type="text/css" th:href="@{css/icomoon.css}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
	<!-- Flexslider  -->
	<link rel="stylesheet" type="text/css" th:href="@{css/flexslider.css}">
	<!-- Theme style  -->
	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
	<!-- croppie -->
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/croppie/croppie.css}" />

	<!-- Modernizr JS -->
	<script type="text/javascript" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/pull-downMenu.js}"></script>
	<!-- croppie crop js-->
	<script type="text/javascript" th:src="@{/js/papearCrop.js}"></script>
	
	</head>

    <body>
		<div id="fh5co-page">
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
				<!-- 左側固定メニュー -->
				<h1 id="fh5co-logo">
					<a href="/">
						<img class="logo-img" th:src="@{images/ロゴ入りデミグラス.png}" alt="ロゴ"></a>
					</h1>
					<nav id="fh5co-main-menu" role="navigation">
						<ul>
							<li class="fh5co-active"><a href="/">ホーム</a></li>
							<li><a th:href="@{/search}">検索</a></li>
							<li><a th:href="@{/mypage}">マイページ</a></li>
							<!--ログイン時は「ログアウト」へ変更-->
							<li><a th:href="@{/login}">ログイン</a></li>
						</ul>
						
					</nav>
					
					<div class="fh5co-footer">
						<p><small>&copy; 2016 Blend Free HTML5. All Rights Reserved.</span> <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span> <span>Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></span></small></p>
					</div>
					
				</aside>
				
				<div id="fh5co-main">
					<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
						
					<div class="row">
						<div class="col-md-4">
							<h2>投稿ページ</h2>
						</div>
						<hr>
					</div>

					<form class="action" id="register-form" method="POST" th:object="${PaperForm}"　th:action="@{/regist}">

						<div class="col-md-6">
							<div class="form-group">
								<p>フリーペーパーの名前(必須)</p>
								<input type="text" class="form-control" name="PaperName" placeholder="フリーペーパーの名前を入力">
							</div>

							<div class="form-group">
								<p>置き場所の情報(必須)<br><small>都道府県</small></p>
								<select id="prefectures" class="mt-0 pull prefectures" name="prefectures">
									<option value="">都道府県を選択</option>
									<option th:each="pref : ${pref}" 
											th:value="${pref.prefName}" 
											th:text="${pref.prefName}"
											th:classappend="${pref.id}"
											th:selected="${pref.prefName} == ${prefectures}">
									</option>
								</select>
							</div>
							<div class="form-group" disabled>
								<p><small>市区町村</small></p>
								<select id="city" name="city" class="mt-0 pull" disabled>
									<option th:each="city : ${city}" 
											th:value="${city.cityName}" 
											th:text="${city.cityName}"
											th:prefId="${city.prefIdId}"
											>
									</option>
								</select>
							</div>

							<div class="form-group">
								<p>カテゴリー(必須)</p>
								<select name="category" id="category" class="mt-0 pull">
									<option value="">カテゴリーを選択</option>
									<option th:each="category: ${category}" 
											th:value="${category.categoryName}" 
											th:text="${category.categoryName}">
									</option>
								</select>
							</div>

							<div class="form-group">
								<p>発行年(必須)</p>
								<select name="year" id="year" class="mt-0 pull">
									<option value="">発行年を選択</option>
									<option th:each="Year : ${Year}" 
											th:value="${Year.value}" 
											th:text="${Year.value}">
									</option>
								</select>
								<p>発行月(必須)</p>
								<select name="month" id="month" class="mt-0 pull">
									<option value="">発行月を選択</option>
									<option th:each="month : ${month}" 
											th:value="${month.value}" 
											th:text="${month.value}">
									</option>
								</select>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<p>お店などの情報やコメントなど</p>
									<textarea id="" name="comment" class="form-control" placeholder="お店などの置き場所に関する情報やコメントなどを記入"></textarea>
								</div>

								<div class="form-group">
									<p>写真</p>
									<label class="btn btn-primary btn-md butan">画像を選択
										<input style="display: none;" class="input-tag" type="file" id="up" />
									</label>
									<p>プレビュー</p>
									<img id="upload-view">
									<input type="text" style="display: none;" name="image"/>
									<div id="cropImagePop">
										<div class="crop-content">
											<div class="crop"></div>
											<input type="button" class="modal-btn-cancel btn btn-primary btn-md" value="キャンセル">
											<input type="button" class="upload-result btn btn-primary btn-md" id="upload-result" value="決定" >
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<input type="submit" class="btn btn-primary btn-md" value="投稿する！">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
       	 </div>
    </div>

	<!-- jQuery -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script type="text/javascript"　src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script type="text/javascript" th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- validate js-->
	<script type="text/javascript" th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
	<!-- croppie Js-->
	<script th:src="@{/node_modules/croppie/croppie.js}"></script>

	<!-- MAIN JS -->
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<!-- validate Js-->
	<script type="text/javascript" th:src="@{/js/validate.js}"></script>
	
    </body>
</html>